.DivContainer{
   display: flex;
   justify-content: space-between;
   position: absolute;
   left: 65%;
   width: 30%;
   height: 65px;
   padding-top: 20px;
   margin-top: 5Ppx;
   color: white;
   
   
}

form{
    display: flex;
}

button{
    display: absolute;
    margin-left: 5px;
    border-radius: 10px;
    justify-content: space-between;
    position: absolute;
    left: 90%;
    width: 100px;
    height: 55px;
    }

input{
    margin-left: 5px;
    border-radius: 10px;
    height: 30px;
}
