*{
  /* display: block; */
  /* align-items: center; */
}
.LogoPrincipal{
    position: absolute;
    top: 60%;
    left: 50% ;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 600px;
    border-radius: 50%;
    opacity: 20%;    
    z-index: -1;

}

.NomePrincipal{
    position: absolute;
    margin: auto;
    font-size: 300%;
    color: rgb(255, 255, 255);
    text-align: center;
    top: 15%;
    left: 50% ;
    transform: translate(-50%, -50%);
    
}

@media (max-width: 980px) {
  .NomePrincipal {
    position: absolute;
    margin: auto;
    font-size: 200%;
    color: rgb(255, 255, 255);
    text-align: center;
    top: 16%;
    left: 50% ;
    transform: translate(-50%, -50%);
    }
    .LogoPrincipal{
      /* position: absolute; */
      top: 16.5%;
      left: 93%;
      transform: translate(-50%, -50%);
      width: 80px;
      border-radius: 50%;
      opacity: 100%;
  }
}

.divMesmoNivel{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}