*{
    box-sizing: inherit;
}

.FaBars{
    position: relative;
    width: 100px;
    height: 50px;
    background: rgb(56, 53, 53);
    color: white;
    cursor: pointer;
    margin: auto;

}

.divMenuLateral{
    width: 100%;
    
}